#filter {
  .filter-radio {
    display: inline-block;
    width: 150px;

    input[type='radio'] {
      cursor: pointer;
    }
  }

  form {
    input[type='submit'] {
      margin-top: 23px;
      padding: 5px 20px;
    }
  }
}

table.list {
  text-align: left;
  margin-top: 20px;

  td, th {
    vertical-align: top;
  }

  tr {
    margin-bottom: 10px;
  }
}

form .submit {
  margin-top: 19px;
}